body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.col-4{
  width: 33.33%;
  padding: 15px;
}

.container{
  max-width: 980px;
  margin: 0 auto;
}

.cart{
  padding: 30px;
  background-color: #b7b5b5;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #0c0b0b 2px solid;
}

Link{
  text-decoration: none;
}

.ingri{
  background-color: #989898;
  padding: 50px;
  border: 2px solid #0c0b0b;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  color: #fdf5f5;
  line-height: 70px;
}

.aboutmeal{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 0px 20px 0px;
}

.boxhelp{
  display: flex;
  justify-content: center;
}

button{
}

.helpbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-6{
  max-width: 50%;
  padding: 0 15px;
}

.HelpRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HelpRow p{
  font-size: 12px;
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
}

.HelpRow img{
  border: 2px solid;
  border-radius: 10px;
}

.youtube{
  border: 2px solid #000000;
  border-radius: 15px;
  width: 950px;
  height: 600px;
}

.span{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  color: #a8a8ff;
}

button{
  margin: 15px 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

.Link{
  text-decoration: none
}

.cartH2{
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.cartImg{
  border-radius: 10px;
  border: solid 2px black;
}

.Header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.HeaderLink{
  text-decoration: none;
  background-color: #8c8c8c;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.helpNav{
  gap: 30px;
  display: flex;
}